<div class="user">

  <div class="identities">
    <h2>Your Identities</h2>

    <form>
      <input ng-model="user.newUser.username" placeholder="User Name" required />
      <input ng-model="user.newUser.passphrase" placeholder="Pass Phrase" required />
      <button ng-click="user.addUser()">Add User</button>
    </form>

    <ul ng-if="user.identities">
      <li ng-repeat="id in user.identities">
        <button ng-if="id.keypair.publicKey" ng-click="id.createArchive({id: {mtID: id.mtID, username: id.username, publicKeyString: id.keypair.publicKeyString, publicKeyFingerprint: id.keypair.publicKeyFingerprint}})">Export</button>
        <p>{{id.username}}</p>
        <p>{{id.keypair.publicKeyFingerprint | emojiprint}}</p>
        <form ng-if="!id.keypair.publicKey">
          <input ng-model="id.passphrases[id.mtID]" />
          <button ng-click="user.unlockUser(id.mtID)">Unlock</button>
        </form>
      </li>
    </ul>
    <form>
      Active id:
      <select ng-model="user.activeUser" ng-options="user.mtID as user.username for user in user.authenticatedUsers"></select>
    </form>
  </div>

  <div class="user-data">
    <h2>Send a Message</h2>
    <div class="user-input">
      <form>
        <textarea ng-model="user.data"></textarea>
        <br />
        <select ng-model="user.messageTarget">
          <option ng-repeat="(mtID, user) in user.subscribers" value={{mtID}}>{{user.username}}</option>
          <option ng-if="user.activeUser" value="{{user.activeUser}}">{{user.identities[user.activeUser].username}}</option>
        </select>
        <button ng-click="user.sendMessage()">Send Message</button>
      </form>
    </div>
    <div class="user-output">
      <pre>{{user.parsedData | json}}</pre>
    </div>
  </div>

  <div class="pubsub">
    <h2>Your Subscribers</h2>
      Add Subscriber:
    <input type="file" fileread="user.addThisSubscriber" />
    <ul>
      <li ng-repeat="user in user.subscribers">
        <button ng-if="user.keypair.publicKey" ng-click="user.createArchive({user: {mtID: user.mtID, username: user.username, publicKeyString: user.keypair.publicKeyString, publicKeyFingerprint: user.keypair.publicKeyFingerprint}})">Export</button>
        <p>{{user.username}}</p>
        <p>{{user.publicKeyFingerprint | emojiprint}}</p>
      </li>
    </ul>
  </div>

  <div class="user-backups">
    <h2>Backup Management</h2>

    <button ng-click="user.createArchive()">Create Archive</button>
    <br />
    <input type="file" fileread="user.backupFile" />
  </div>
</div>

<ul>
  <li ng-repeat="torrent in user.webTorrent.client.torrents">
    <p>{{torrent.name}}</p>
    <ul>
      <li ng-repeat="file in torrent.files">
        <p>{{file.name}}</p>
      </li>
    </ul>
  </li>
</ul>
