<form>
  <textarea ng-model="debug.data"></textarea>
  <button ng-click="debug.save()">save</button>
</form>
<ul>
  <li ng-repeat="torrent in debug.webTorrent.client.torrents">
    <p>{{torrent.name}}</p>
    <ul>
      <li ng-repeat="file in torrent.files">
        <p>{{file.name}}</p>
      </li>
    </ul>
  </li>
</ul>

<h2 ng-if="debug.keypair">Server Key: {{debug.keypair.publicKeyFingerprint | emojiprint}}</h2>


<input ng-model="debug.newUser.username" placeholder="User Name"/>
<input ng-model="debug.newUser.passphrase" placeholder="Pass Phrase"/>
<button ng-click="debug.addUser()">Add User</button>

<ul ng-if="debug.users">
  <li ng-repeat="user in debug.users">
    <p>{{user.username}}</p>
    <p>{{user.keypair.publicKeyFingerprint | emojiprint}}</p>
    <p ng-if="!user.keypair.publicKey">
      <input ng-model="debug.passphrases[user.keypair.publicKeyFingerprint]" />
      <button ng-click="debug.unlockKey(user.keypair.publicKeyFingerprint)">Unlock</button>
    </p>
  </li>
</ul>

<h2>Backup Management</h2>

<button ng-click="debug.createArchive()">Create Archive</button>

<br />

<input type="file" fileread="debug.backupFile" />
